<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>2dotask</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>2dotask</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="vm.sideBar(1);">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <a href="javascript:;" onclick="AddStaff();">
                            <i class="fa fa-plus"></i> Add Staff
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="javascript:;" onclick="NonStaff();">
                            <i class="fa fa-plus"></i> Add Non Staff
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="javascript:;" onclick="AssignTask();">
                            <i class="fa fa-plus"></i> Assign Task
                        </a>
                    </li>

                    <li class="dropdown notifications-menu hidden-xs hidden-sm">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-align-justify"></i> Layouts
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="menu">
                                    <li data-ng-repeat="screen in vm.layouts" data-ng-click="vm.setLayout(screen.layout);">
                                        <a>
                                            <i class="fa fa-indent"></i> {{screen.name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs">Admin</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">

                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ui-sref="app.about" class="btn btn-success btn-flat">Setting</a>
                                </div>
                                <div class="pull-right">
                                    <a ui-sref="login" class="btn btn-danger btn-flat">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="images/user.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Admin</p>
                    <span class="text-aqua text-sm"><!--Software Engineer--></span>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat" data-ng-click="vm.search();"><i class=" fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <ul class="sidebar-menu">
                <li class="treeview" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems">
                    <a ui-sref="app.{{menu.state}}">
                        <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.title}}</span>
                    </a>
                </li>
                <!-- <li class="treeview" ui-sref-active="active" ng-click="vm.sideBar();">
                    <a href="https://github.com/ranjithprabhuk/Angular-Bootstrap-Dashboard" target="_blank">
                        <i class="fa fa-github"></i> <span>View in Github</span>
                    </a>
                </li> -->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <ui-view></ui-view>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        &copy 2dotask - 2017.
    </footer>
</div>
<!-- Add staff modal -->
<div id="addStaff" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form name="clientForm" ng-controller="ClientController">
                    <md-content class="autoScroll">
                        <md-input-container class="md-icon-float md-block">
                            <label>First Name</label>
                            <input type="text" required name="fname" ng-model="fname">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Last Name</label>
                            <input type="text" required name="lname" ng-model="lname">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Date of Birth</label>
                            <input type="text" required name="dob" ng-model="dob">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button name="gender" value="Male"   required> Male</md-radio-button>
                                <md-radio-button name="gender" value="Female" required> Female</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Mobile</label>
                            <input type="text" required name="mobile" ng-model="mobile">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Message</label>
                            <input type="text" required name="message" data-ng-model="vm.message.message">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Date of Join</label>
                            <input type="text" required name="dobj" ng-model="dobj">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Designation</label>
                            <input type="text" required name="designation" ng-model="designation">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Employee ID</label>
                            <input type="text" required name="eid" ng-model="eid">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>User Name(Email ID)</label>
                            <input type="text" required name="uname" ng-model="uname">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Password</label>
                            <input type="password" required name="pass" ng-model="pass">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Confirm Password</label>
                            <input type="password" required name="cpass" ng-model="cpass">
                        </md-input-container>

                        <div class="pull-right">
                            <md-button class="md-raised md-primary" type="submit" name="staffSubmit" data-upd="update" ng-click="insertData()"></md-button>
                            <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
                        </div>
                    </md-content>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>
<!--assign task modal -->
<div id="assignTask" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign Task</h4>
            </div>
            <div class="modal-body">
                <form name="clientForm" ng-controller="ClientController">
                    <md-content class="autoScroll">
                        <md-datepicker ng-model="data.fdate" md-current-view="year" md-placeholder="Start date"></md-datepicker>
                        <md-datepicker ng-model="data.edate" md-current-view="year" md-placeholder="End date"></md-datepicker><br/><br/>
                        <md-input-container class="md-icon-float md-block">
                            <label>Start Time</label>
                            <input mdc-datetime-picker date="false" time="true" type="text" id="starttime" short-time="true" show-todays-date placeholder="Start Time" min-date="minDate" format="hh:mm a" ng-change="vm.saveChange()" ng-model="starttime"/>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>End Time</label>
                            <input mdc-datetime-picker date="false" time="true" type="text" id="endtime" short-time="true" show-todays-date placeholder="End Time" min-date="minDate" format="hh:mm a" ng-change="vm.saveChange()" ng-model="endtime"/>
                        </md-input-container>
                        <md-input-container class="md-block">

                            <md-radio-group ng-model="data.group1">
                                <md-radio-button name="gender" value="Male"   required> Staff <a href="javascript:;">All</a></md-radio-button> 
                                <md-radio-button name="gender" value="Female" required> Team</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="StName" placeholder="Select">
                                <md-option ng-value="1" >1</md-option>
                                <md-option ng-value="2" >2</md-option>
                                <md-option ng-value="3" >3</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="Sclient" placeholder="Select a client">
                                <md-option ng-value="1" >1</md-option>
                                <md-option ng-value="2" >2</md-option>
                                <md-option ng-value="3" >3</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-select ng-model="Sproject" placeholder="Select a project">
                                <md-option ng-value="1" >1</md-option>
                                <md-option ng-value="2" >2</md-option>
                                <md-option ng-value="3" >3</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Task Details</label>
                            <input type="text" required name="dob" ng-model="dob">
                        </md-input-container>
                        <div class="pull-right">
                            <md-button class="md-raised md-primary" type="submit" name="submit" ng-click="insertData()">Assign <i class="fa fa-save"></i></md-button>
                            <md-button class="md-raised md-primary" type="submit" name="submit" ng-click="insertData1()">Save Text <i class="fa fa-save"></i></md-button>
                            <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
                        </div>
                    </md-content>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddStaff() {
        $('#addStaff').modal('show');
        $('#addStaff').find('.modal-title').empty().html('Add Staff Details');
        $('#addStaff').find('[name="staffSubmit"]').empty().html('Add Staff <i class="fa fa-save"></i>');
    }
    function NonStaff() {
        $('#addStaff').modal('show');
        $('#addStaff').find('.modal-title').empty().html('Add Non Staff Details');
        $('#addStaff').find('[name="staffSubmit"]').empty().html('Add Non Staff <i class="fa fa-save"></i>');
    }
    function AssignTask() {
        $('#assignTask').modal('show');
    }
</script>
